
AlgoPractise/obj/Debug/netcoreapp3.1/AlgoPractise.exe
AlgoPractise/obj/Debug/netcoreapp3.1/AlgoPractise.dll
AlgoPractise/obj/Debug/netcoreapp3.1/AlgoPractise.pdb
*.cache
.vs/AlgoPractise/v16/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
AlgoPractise/bin/Debug/netcoreapp3.1/AlgoPractise.deps.json
*.dll
*.exe
*.pdb
AlgoPractise/bin/Debug/netcoreapp3.1/AlgoPractise.runtimeconfig.dev.json
AlgoPractise/bin/Debug/netcoreapp3.1/AlgoPractise.runtimeconfig.json
AlgoPractise/obj/AlgoPractise.csproj.nuget.dgspec.json
*.props
*.targets
AlgoPractise/obj/Debug/netcoreapp3.1/AlgoPractise.csproj.FileListAbsolute.txt
AlgoPractise/obj/project.assets.json
AlgoPractise/obj/Debug/netcoreapp3.1/AlgoPractise.AssemblyInfo.cs
.vs/AlgoPractise/DesignTimeBuild/.dtbcache
